@CHARSET "UTF-8";

#loginHeader {
	background-color: transparent;
	border: 0px;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 15px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #ffffff;
	text-decoration: none;
}

.blue {
	background-color: #0E71F3;
	border-bottom: 10px solid #043AD6;
}

.action-button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}

.ui-btn-right,.ui-btn-left {
	height: 35px;
	width: 35px;;
}
